* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --sm-font-size:14px;
  --md-font-size:18px;
  --lg-font-size:48px;
  --primary-color:#000;
  --secondary-color:#fafafa;
  --accent-color:#363738;
  --secondary-bg-color:#f5f5f5;
  --unique-color:#db4444;
  --btn-bg-color:#db4444;
  --btn-text-color:#fff;
  --btn-hover-bg-color:#c33;
  --card-mx-width: 270px;
  --primary-bg-color:#000;
}

html{
scroll-behavior: smooth;
}

body {
  font-family: Phoppins, sans-serif;
}

.announcement-bar {
  max-width: 1440px;
  margin-inline: auto;
  background-color: var(--primary-bg-color);
  padding-block: 12px;
  display: flex;
  justify-content: center;
  gap: 231px;
  overflow: hidden;
  align-items: center;

  @media (max-width: 1024px) {
    gap: 50px;
    padding-inline: 20px;
  }

  @media (max-width: 768px) {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .announcement-text {
    overflow: hidden;
    p {
      color: var(--secondary-color);
      font-size: var(--sm-font-size);
      animation: scroll-left 15s linear 3;

      @media (max-width: 768px) {
        animation: none;
      }

      span a {
        color:var(--secondary-bg-color);
        font-size: var(--md-font-size);
        text-decoration: underline;
        margin-left: 8px;

        &:hover {
          color: rgb(97, 97, 249);
        }
      }
    }
  }

  select {
    background: none;
    color: var(--secondary-color);
    font-size: var(--sm-font-size);
    background: var(--primary-bg-color);
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: var(--sm-font-size);
    cursor: pointer;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.header-container {
  max-width: 1170px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom:  16px;
  position: relative;

  @media (max-width: 1024px) {
    padding: 20px;
  }

  .header-right {
    display:flex;
    align-items: center;
    gap: 200px;
    position: relative;

    @media (max-width:1024px) {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      display: none;
      background-color: #000;
      padding: 40px 15px;
      right: -100%;
    }
  
    .main-nav {
      ul {
        display: flex;
        list-style: none;
        gap: 48px;

        @media (max-width: 1024px) {
          flex-direction: column;
          gap: 20px;
          align-items: center;
          color: var(--secondary-color);
        }

        li a {
          text-decoration: none;
          color: var(--primary-color);
          margin-bottom: 10px;

          @media (max-width: 1024px) {
            color: var(--secondary-color);
            font-size: var(--sm-font-size);
          }
        }

        li a:hover {
          color: var(--unique-color);
        }

       li:first-child {
          text-decoration: dashed;
          border-bottom: 2px solid;
        }
      }
    }

    .search-cart {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      .search-bar {
        position: relative;
        input {
          padding: 7px 20px;
          outline: none;
          border: none;
          background: var(--secondary-bg-color);
          width: 243px;
          border-radius: 4px;
        }

        .search-btn {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background: var(--secondary-bg-color);
          border: none;
          padding: 7px 10px;
          cursor: pointer;
          color: var(--primary-color);
          font-size: var(--sm-font-size);
        }
      }

      .search-cart-btn {
        background: none;
        border: none;
        cursor: pointer;

        @media (max-width: 1024px) {
          background-color: var(--secondary-bg-color);
          padding: 5px;
          border-radius: 10px;
        }
      }
    }
  }

  .fa-bars, .fa-xmark{
      display: none;
      color: var(--primary-color);
      font-size: 24px;
      cursor: pointer;
      position: absolute;
      background: none;
      font-size: 30px;
      border: none;
      @media (max-width: 1024px) {
        display: block;
      }
    }

    .fa-bars {
      right: 34px;
    }

    .fa-xmark {
      color: #f5f5f5;
      right: 20px;
      top: 18px;
    }
}

.hero-section {
  border-top: 1px solid rgb(88, 86, 86);
}

.hero {
    max-width: 1170px;
    margin-inline:auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    .hero-nav {
        padding-right: 16px;
        border-right: 1px solid rgb(88, 86, 86);
        padding-top: 40px;
      ul {
        list-style: none;

        li {
          margin-bottom: 16px;

          span {
            margin-left: 20px;
          }
        }
        li a {
          text-decoration: none;
          color:var(--primary-color);
        }
      }
    }

    .hero-slider {
      max-width: 892px;
      width: 100%;
      padding-top: 40px;
      position: relative;

      .hero-slide {
        position: relative;
        display: none;
        transition: opacity 0.4s ease-in-out;

        .hero-image {
          img {
            object-fit: cover;
            width: 100%;
            height: 500px;
          }
        }

        .hero-text {
          position: absolute;
          top: 174px;
          left: 64px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          max-width: 294px;

          p {
            display: flex;
            align-items: center;
            color: var(--secondary-bg-color);
            font-size: var(--sm-font-size);
            gap: 10px;
          }

          h1 {
            font-size: var(--lg-font-size);
            color: var(--secondary-color);
          }

          a {
            display: flex;
            color: var(--secondary-bg-color);
            font-weight: 500;
            gap: 8px;
            align-items: center;
            text-decoration: none;
          }
        }
      }

      .hero-slide.active {
        display: block;
      }

      .hero-pagination {
        text-align: center;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);

        .dot {
          display: inline-block;
          height: 12px;
          width: 12px;
          background-color: #bbb;
          border-radius: 50%;
          margin: 0 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        .dot.active {
          background-color: var(--unique-color);
        }
      }
    }
  }